<div class="media-left">
  <a href="#books/<%- id %>">
    <img class="media-object media-img-small" src="" alt="">
  </a>
</div>
<div class="media-body">
  <h4 class="media-heading"><%- name %></h4>
  <%- author %>, <%- year %>
</div>



