<div class="content fade-in">
  <div class="header">
    <a href="#books" class="header-back-link"><i class="fa fa-long-arrow-left"></i></a>
    <%- name %>
  </div>
  <div class="show-page-body">
    <img class="media-img-large" src="" alt="">
    <div class="show-page-heading">
      <h3><%- name %></h3>
      <p><%- author %>, <%- year %></p>
    </div>
  </div>
  <div class="show-page-description">
    <%- description %>
  </div>
</div>

