@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; } to { opacity:1; } }

.fade-in {
  opacity:0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;

  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
