body {
  background: #fafafa;
}

.header {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  height: 50px;
  background-color: #fafafa;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  z-index: 10000;
}

.list-items {
  overflow-y: auto;
  border: 1px solid black;
  border-bottom: none;
  margin-top: 50px;
}

.list-items li {
  border-bottom: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

.list-items li:hover {
  background-color: #f0f0f0;
}

.header-back-link {
  margin-left: 5px;
  float: left;
}

.header-back-link i {
  font-size: 20px;
}

.media-img-small {
  width: 64px;
  height: 64px;
  border: 1px solid black;
}

.media-img-large {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: inline-block;
}

.show-page-body {
  padding-top: 30px;
  text-align: center;
  border: 1px solid black;
  margin-top: 50px;
}

.show-page-heading {
  padding: 10px;
}

.show-page-description {
  border: 1px solid black;
  border-top: none;
  padding: 10px;
}
