@media (min-width: 480px) {
  .header {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .header {
    font-size: 30px;
    border: 1px solid black;
    border-bottom: none;
    position: relative;
  }

  .main-app {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .list-items {
    margin-top: 0;
  }

  .show-page-body {
    margin-top: 0;
  }

  .header-back-link i {
    font-size: inherit;
  }
}
